<span ng-controller="CourseViewCtrl">
<div class="row content-header">
    <h3 ng-cloak><span><i class="icon-home"></i></span><span class="text"> {{ course.name }}</span></h3>
</div>
<div class="row" id="content">
    <!-- 
    <div class="row calendar-row">
        <div class="large-12 columns calendar">
            <h3><i class="icon-calendar-empty"></i> Live Progress</h3>
            <ul>
                <li class="first-4"><a href=#>26</a></li>
                <li class="first-4"><a href=#>27</a></li>
                <li class="first-4"><a href=#>28</a></li>
                <li class="first-4"><a href=#>29</a></li> 
                <li class="second-4"><a href=#>30</a></li>
                <li class="second-4"><a href=#>31</a></li>
                <li class="second-4"><a href=#>01</a></li>
                <li class="second-4"><a href=#>02</a></li>
                <li class="third-4 active"><a href=#>03</a></li>
                <li class="third-4"><a href=#>04</a></li>
                <li class="third-4"><a href=#>05</a></li>
                <li class="third-4"><a href=#>06</a></li>
            </ul>
        </div>
    </div>//-->
    <div class="row chapter-row">
        <div class="large-9 columns chapter-summary">
            <h3 ng-cloak><i class="icon-bookmark"></i> Chapter {{ $index+1 }}: {{ unit.name }}</h3>
            <ul class="course-outline chapter">
                <li ng-repeat="chapter in chapters" ng-show="chapter.indent == 0">
                    <a href="#/course/{{ course.id}}/lesson/{{chapter.page_url}}/1" ng-show="!chapter.locked_for_user">
                        <ul class="course-exercise">
                        <li>{{ chapter.title}}</li>
                        <li>
                            <span ng-show="chapter.completion_requirement.completed">Done</span>
                            <span ng-show="!chapter.completion_requirement.completed">Pending</span>
                        </li>
                        <li></li>
                    </ul>
                    </a>
                    <a ng-show="chapter.locked_for_user">
                        <ul class="course-exercise">
                        <li>{{ chapter.title}}</li>
                        <li>
                            <span ng-show="chapter.completion_requirement.completed">Done</span>
                            <span ng-show="!chapter.completion_requirement.completed">Pending</span>
                        </li>
                        <li></li>
                    </ul>
                    </a>
                </li>
            </ul>
        </div>

        <div class="large-3 columns courses" ng-cloak>
            <h3><i class="icon-folder-open"> </i>{{ course.name }}</h3>
            <ul>
                <li ng-repeat="module in modules"><a href="#/course/{{ course.id }}/unit/{{ module.id}}" >Chapter {{ $index+1 }}: <span>{{ module.name}}</span></a></li>
            </ul>
        </div>
    </div>

    <div class="row program-row">
        <div class="large-9 columns program-tutoring">
            <h3><i class="icon-user"></i> Program Tutoring</h3>
            <ul class="program">
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with Monica Smith</li>
                        <li><span style="color:#900;font-weight:bold;">NOW LIVE</span></li>
                        <li><a ng-cloak ng-href="http://whiteboard.rayku.com/room/922/broadcast/user/{{user.id}}" target="_blank">Join Now</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="large-3 columns program-principal" style="margin-top:30px;">
            <div class="row">
                <div class="small-4 columns">
                    <img src="http://i.minus.com/jBejN2rYghSEs.jpg">
                </div> 
                <div class="small-8 columns">
                    <ul>
                        <li style="font-size:18px;">Monica Smith, Tutor</li>
                        <li><a href="mailto:monica@mail.rayku.com" style="font-size:13px;text-decoration:underline">Email Assignments to Monica</a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </div> 
</div>
</span>
