<span ng-controller="CourseViewCtrl">
<div class="row content-header">
    <h3 ng-cloak><span><i class="icon-home"></i></span><span class="text">{{ course.name }}</span></h3>
</div>
<div class="row" id="content">
    <div class="row calendar-row">
        <div class="large-12 columns calendar">
            <h3><i class="icon-calendar-empty"></i> Live Progress</h3>
            <ul>
                <li class="first-4"><a href=#>26</a></li>
                <li class="first-4"><a href=#>27</a></li>
                <li class="first-4"><a href=#>28</a></li>
                <li class="first-4"><a href=#>29</a></li> 
                <li class="second-4"><a href=#>30</a></li>
                <li class="second-4"><a href=#>31</a></li>
                <li class="second-4"><a href=#>01</a></li>
                <li class="second-4"><a href=#>02</a></li>
                <li class="third-4 active"><a href=#>03</a></li>
                <li class="third-4"><a href=#>04</a></li>
                <li class="third-4"><a href=#>05</a></li>
                <li class="third-4"><a href=#>06</a></li>
            </ul>
        </div>
    </div>
    <div class="row chapter-row">
        <div class="large-9 columns chapter-summary">
            <h3 ng-cloak><i class="icon-bookmark"></i> {{ unit.name }}</h3>
            <ul class="course-outline chapter">
                <li ng-repeat="chapter in chapters">
                    <a href="#/course/{{ course.id}}/lesson/{{chapter.page_url}}">
                        <ul class="course-exercise">
                        <li>{{ chapter.title}}</li>
                        <li>3rd of Aug</li>
                        <li>
                            <span ng-show="chapter.completion_requirement.completed">Done</span>
                            <span ng-show="!chapter.completion_requirement.completed">Pending</span>
                        </li>
                        <li></li>
                    </ul>
                    </a>
                </li>
            </ul>
        </div>

        <div class="large-3 columns courses">
            <h3><i class="icon-folder-open"></i> Sam's Course</h3>
            <ul>
                <li><a href=# >Chapter 1: <span>Algebra</span></a></li>
                <li><a href=# >Chapter 2: <span>Advanced Algebra</span></a></li>
                <li><a href=# >Chapter 3: <span>Sum of Vectors</span></a></li>
                <li><a href=# >Chapter 4: <span>Advanced Vectors</span></a></li>
                <li><a href=# >Chapter 5: <span>Calculus</span></a></li>
                <li><a href=# >Chapter 6: <span>Advanced Calculus</span></a></li>
                <li><a href=# >Chapter 7: <span>Geometry</span></a></li>
            </ul>
        </div>
    </div>
    
    <div class="row program-row">
        <div class="large-9 columns program-tutoring">
            <h3><i class="icon-user"></i> Program Tutoring</h3>
            <ul class="program">
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="large-3 columns program-principal">
            <div class="row">
                <div class="small-4 columns">
                    <img src="img/users/d9e696b111adaf5aebb5c8ee13e2512c217d6508.jpeg">
                </div> 
                <div class="small-8 columns">
                    <ul>
                        <li><a href=#>Sam Crow</a></li>
                        <li>Charming Heights</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="large-3 columns program-tutor">
            <div class="row">
                <div class="small-4 columns">
                    <img src="img/users/d9e696b111adaf5aebb5c8ee13e2512c217d6508.jpeg">
                </div> 
                <div class="small-8 columns">
                    <ul>
                        <li><a href=#>Jax Teller</a></li>
                        <li>Oakland Borrow</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
</span>