<div class="row content-header">
    <h3><span><i class="icon-edit"></i></span><span class="text"> {{data.title}} : {{ lesson.name }}</span></h3>
</div>
<div class="row" id="content">
    <div class="row chapter-row">
        <div class="large-9 columns chapter-summary">
            <h3>Lessons | <a ng-href="{{data.body.lesson_assignment_file}}">Assignment</a> | <a ng-href="#/course/{{course.id}}/solution/{{data.url}}/1">Solutions</a></h3>
            <div class="lesson-video">
                <iframe
                src="http://www.youtube.com/embed/{{lesson.lesson_video}}">
                </iframe>
            </div>
        </div>

        <div class="large-3 columns courses">
            <h3><a ng-href="{{data.body.lesson_assignment_file}}">Download Assignment</a></h3>
            <ul>
                <li ng-repeat="lesson in lessons"><a href="#/course/{{course.id}}/lesson/{{data.url}}/{{$index+1}}"><span>{{lesson.name}}</span></a></li>
            </ul>
        </div>
    </div>
    
    <!-- 
    <div class="ro  w program-row">
        <div class="large-9 columns program-tutoring checklist">
            <h3><i class="icon-check-sign"></i> Checklist</h3>
            <ul class="program">
                <li>
                    <a href=""><span class="check"><i class="icon-check"></i></span> Download Exercise</a>
                </li>
                <li>
                   <a href=""><span class="check"><i class="icon-check"></i></span> Submit Exercise</a>
                </li>
                <li>
                    <a href=""><span class="check"><i class="icon-check"></i></span> Wait for a Tutor</a>
                </li>
                <li>
                    <a href="">Revise Corrections</a>
                </li>
                <li>
                    <a href="">Complete</a>
                </li>
            </ul>
        </div>

        <div class="large-3 columns program-tutoring checklist">
            <h3><i class="icon-signal"></i> Status</h3>
            <div class="status-percentage">
                <h5>40%</h5>
            </div>
        </div>
    </div>
     -->
</div>