<div class="row content-header">
    <h3><span><i class="icon-edit"></i></span><span class="text"> Sum of Vectors: Algebraic Vectors</span></h3>
</div>
<div class="row" id="content">
    <div class="row chapter-row">
        <div class="large-9 columns chapter-summary">
            <h3><a href="">Lesson</a> <a href="">Solution</a></h3>
            <div ng-bind-html-unsafe="lesson.body"></div>
        </div>

        <div class="large-3 columns courses">
            <h3><a href="">Download</a> <a href="">Hand In</a></h3>
            <ul>
                <li><a href=# ><span>Intro to Algebraic Vectors</span></a></li>
                <li><a href=# ><span>Algebraic Vectors Example 1</span></a></li>
                <li><a href=# ><span>Algebraic Vectors Example 2</span></a></li>
                <li><a href=# ><span>Factoring Vectors</span></a></li>
                <li><a href=# ><span>Scaling Vectors</span></a></li>
                <li><a href=# ><span>Parametric Representations</span></a></li>
            </ul>
        </div>
    </div>
    
    <div class="row program-row">
        <div class="large-9 columns program-tutoring">
            <h3><i class="icon-check-sign"></i> Checklist</h3>
            <ul class="program">
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="course-tutoring">
                        <li>Tutoring Session with <a href=#>Sarah Miller</a></li>
                        <li>August 5th at 6:30pm</li>
                        <li><a href=#>Join Live</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>