<link rel="stylesheet" href="css/logreg.css"/>

<div class="row" ng-cloak>
    <div class="large-6 columns login">
        <form>
            <h3>Login</h3>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="username">Username</label>
                        <input name="username" id="username" ng-required="true" ng-model="user_login.username" type="text" placeholder="Email">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="password">Password</label>
                        <input name="password" id="password" ng-required="true" ng-model="user_login.password" type="password" placeholder="Password">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <input type="submit" value="Login" class="red-button" ng-click="login(user_login)">
                  </div>
            </div>
        </form>
    </div>
    <div class="large-6 columns registration">
        <form>
            <h3>Register</h3>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="username">Username</label>
                        <input name="username" id="username" ng-required="true" ng-model="user_register.username" type="text" placeholder="Username">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="fname">Full Name</label>
                        <input name="fname" id="fname" ng-required="true" ng-model="user_register.fname" type="text" placeholder="Full Name">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="email">Email</label>
                        <input name="email" id="email" ng-required="true" ng-model="user_register.email" type="email" placeholder="Email">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="password">Password</label>
                        <input name="password" id="password" ng-required="true" ng-model="user_register.password1" type="password" placeholder="Password">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <label for="password2">Confirm Password</label>
                        <input name="password2" id="password2" ng-required="true" ng-model="user_register.password2" type="password" placeholder="Password">
                  </div>
            </div>
            <div class="row">
                  <div class="large-12 columns">
                        <input type="submit" value="Register" class="blue-button" ng-click="register(user_register)">
                  </div>
            </div>
        </form>
    </div>
</div>